.containerNew {
  display: grid;
  grid-template-columns:  1fr;
  padding: 20px 20px 20px 20px;
  border-radius: 1rem;
  grid-gap: 20px;
 
}

.container {
  display: grid; /* or inline-flex */
  grid-template-columns:  300px 1fr;
  border-style: solid;
  border-radius: 1rem;
  
}

.containerLogo{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  text-align: justify;
}

.projects {
  margin: 2rem auto;
  width: 90%;
}

.imageSource {
  height: 100px;
  width: 200px;
}

.h1 {
  border: 2px solid purple;
  border-radius: 1rem;
}

.h1:hover {
  box-shadow: 2px 2px palevioletred;
  background-color: lightgrey;
}

.body{
  text-align: left;
  
}

.header {
  background-color: grey; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  font-size: 30px;
  white-space: pre-wrap;
  font-weight: bold;
}