.about {
    display: grid;
    grid: 100px;
  
    grid-template-columns: auto auto;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .about ul {
    list-style: none;
    text-align: left;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }
  
  .about li {
    display: inline-block;
    margin: 0px 0px;
    padding: none;
    text-shadow: honeydew;
    text-align: left;
    color: black;
  }
  
  .about li::before {
    content: "✓";
    padding-inline-start: 1ch;
    color: lightslategrey;
    font-weight: bold;
  }
  