.stack {
    display: grid;
    grid-template-columns: auto;
    border: solid;
    border-radius: 1rem;
    width: 40%;
  }
  
  .topRow {
    border-bottom: solid;
  }
  
  .bottomRow{
      display: grid;
      grid-template-columns: auto auto auto;
      
      
  }
  
  .bottomRowBorder{
      border-right: solid;
  }
  
  .format{
      display : flex;
      flex-direction:row;
      padding-top: 30px;
  }
  
  .body{
      text-align: left;
  }