.header {
    background-color: grey; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    white-space: pre-wrap;
    font-weight: bold;
  }

.rowC{display:flex; flex-direction:row;}

.topPane {
    width: '50%',
}


.bottomPane {
    width: '50%',
}

.infoBody {

    background-color: whitesmoke; /* Green */
    border: none;
    color: blue;
    padding: 20px 40px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    white-space: pre-wrap;
    font-weight: bold;
}
