.header {
  background-color: grey; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  font-size: 30px;
  white-space: pre-wrap;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-content: space-around;
  align-items: stretch;
  align-content: center;
  padding-top: 40px;
  grid-row-gap: 10px;
}

.child {
  border: thin;
  border: 1px solid black;
  width: 400px;
  padding-top: 20px;
}

.headText {
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.infoBody {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  white-space: pre-wrap;
  list-style-type: none;
}
